.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60%;
    background-color: rgb(255, 255, 255);
    height: 40px;
    padding: 15px;
    position: fixed;
    top: 0;
    z-index: 20;
    opacity: 0.8;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.navlink {
    text-decoration: none;
    margin: 10px;
}